<div class="search-header">
<h1>Search for a trailer</h1>
</div>

<div class="search-area">
<%= form_for(:search, url: search_path) do |search| %>

<%= search.text_field :terms %>

<%= search.submit "Search!" %>

<% end %>
</div>

<% if @results != nil %>
<% @results.videos.each do |r| %>

<div class="search-results">
<div class="embed-responsive embed-responsive-16by9">
<%= search_embed(r.unique_id) %>
</div>
</div>

<% end %>
<% end %>
