// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family: 'nautilus_pompiliusregular';
    src: asset-url('nautilus/nautilus-webfont.eot');
    src: asset-url('nautilus/nautilus-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('nautilus/nautilus-webfont.woff2') format('woff2'),
         asset-url('nautilus/nautilus-webfont.woff') format('woff'),
         asset-url('nautilus/nautilus-webfont.ttf') format('truetype'),
         asset-url('nautilus/nautilus-webfont.svg#nautilus_pompiliusregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.home-image {
	background-image: url('http://lefthandhorror.files.wordpress.com/2013/06/massive-b-horror-collage-wallpaper-horror-movies-29491579-2560-1600.jpg');
	background-size: cover;
}

.my-home-nav-color {
	background: black;	
}

.home-title {
	color: white;
	font-size: 200px;
	font-family: nautilus_pompiliusregular;
	text-shadow: 5px 5px 5px rgba(0,0,0,0.7);
	padding-top: 20px;
}

.my-nav-bar {
	border: none;
	border-radius: 0px;
}

.log-in-fields {
	border-radius: 5px;
	background: transparent;
}

.reel-header {
	margin-top: 100px;
	height: 100px;
	width: 225px;
	margin-right: auto;
	margin-left: auto;
	font-family: nautilus_pompiliusregular;
}

.user-list-header {
	font-family: nautilus_pompiliusregular;
	margin-top: 100px;
	height: 100px;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
}

.watched-header {
	font-family: nautilus_pompiliusregular;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	height: 50px;
	width: 200px;
}

.search-header {
	font-family: nautilus_pompiliusregular;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	height: 50px;
	width: 300px;
}

.search-area {
	height: 80px;
	width: 250px;
	margin-right: auto;
	margin-left: auto;
}

.search-results {
	width: 1200px;
	height: 800px;
	margin-right: auto;
	margin-left: auto;
}

.home-title-container {
	height: 300px;
	width: 1350px;
	background: rgba(0,0,0,0.6);
	margin-right: auto;
	margin-left: auto;
	margin-top: 200px;
}

.home-form-container {
	height: 50px;
	width: 540px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}

.home-title-header-container {
	height: 200px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}